h1 {
    text-align: center;
    
}
h2 {
    text-align: center;
}
body {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    100
    background-size: ;;
}
p {
    text-align: center;
    color: white;
}
h1 {
    color: white;
}
